# DATABASE_URL = postgresql://postgres:root@localhost/dicgc_demo
# DATABASE_URL = "oracle+cx_oracle://C##kvb:kvb@localhost:1521/XE"
DATABASE_URL = "oracle+cx_oracle://<username>:<password>@<host>:<port>/<service>"
AMAZON_S3_BASE_URL=""
S3_BUCKET_NAME=""
JWT_SECRET_KEY="<your_jwt_secret_key>"
ACCESS_TOKEN_EXPIRE_HOURS=240
REFRESH_TOKEN_EXPIRE_HOURS=240
AES_SECRET_KEY="<your_aes_secret_key>"
ALLOWED_ORIGINS="http://localhost:5173,https://fly91.pentafox.in/,http://192.168.0.169:5173"

MASTER_DATA_FOLDER_PATH="PATH_TO_BASE_CODE/orm_model/sample_data"
#local env
LOCALLY_SAVE_FILE=YES
ADMIN_CLIENT_ID=<admin_client_id>
ADMIN_CLIENT_KEY=<admin_client_key>

# NEW VARIABLES
KVB_ENDPOINT="https://www.kvbbank.net"
KVB_KEY_VALUE="JkQr47jT3ISRutiIIC9FoXxTBfGwr7DC"
KVB_SRC_CHANNEL="APII4C"
KVB_USERNAME="I4C@uat"
KVB_PASSWORD="hubi4c@123"
KVB_USERID="I4CAPI"
CASA_STMT_PATH="/ESB/CASAStmtInquiry"
HOLD_FUND_PATH="/ESB/ForceHoldMaintenance"
PAYMENT_STATUS_INQUIRY_PATH="/bpmsUAT/rest/CueRest/invokeESBService/PaymentStatusInqIE"